
# ─────────────────────────────────────────────────────────────────────────────
# OBLIGATORIOS

# ─────────────────────────────────────────────────────────────────────────────

HIVE_PUBLIC_URL=


HIVE_DOMAIN=